<!-- Room Customization Component -->
<div class="section bg-white p-6 rounded-lg shadow-sm mt-6">
  <div class="">
    <h1 class="text-3xl font-bold text-gray-900 mb-2">Elige tu número de habitación.</h1>
    <p class="text-gray-600 mb-8">
      Explora el hotel y elige la habitación exacta en la que te quieres alojar.
    </p>
  </div>
  <div class="relative w-full overflow-auto h-[calc(100vh-48px)] md:h-auto">
    <img src="https://hvdataprostgweu.blob.core.windows.net/renderimages/h305/views/01_main/01d77a02-b92f-4214-a87c-79920dcbeded/background.webp" alt="Hotel exterior view" class="w-full h-full object-cover rounded-md"
                onerror="this.src='https://cdnjs.cloudflare.com/ajax/libs/placeholder-loading/0.6.0/img/background.jpg'">
  </div>
</div>